.wrapperLike {
  position: absolute;
  top: 280px;
  display: flex;
  justify-content: center;
}

.falseLike {
  font-size: 30px;
  padding: 20px;
  color: #fff;
  background-color: #029df7;
  border-radius: 50%;
  box-shadow: 0 0 20px #e7f702;
  cursor: pointer;
}

.trueLike {
  color: #e7f702;
}
